*{
  box-sizing: border-box;
}
body{
  background-image:url("../images/tops.png");
  background-repeat: no-repeat;
  background-size: 100%; /*cover/contain*/
  background-color: #f8f9fa;

  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1125px;
  margin:0 auto;
}

.jelajah{
  font-family: 'Caveat';
  font-weight: normal;
  text-align: center;
}

.taman{
  font-family: 'Playfair Display' ;
  font-weight: normal;
  text-align: center;
}

.jelajah, .taman{
  display: block;
}

/* Bagian hero*/
.hero{
  text-align: center;
  padding:120px 15px;
}
.hero .jelajah{
  font-size: 64px;
}

.hero .taman{
  font-size: 72px;
}

.hero p{
  font-size: 19px;
  font-weight: lighter;
  text-align: center;
  max-width: 760px;
  margin-left: 180px;
}

.grid-layout{

}

.grid-layout:after{
  content: "";
  clear: both;
  display: block;
}

.grid-item{
  width: 33.33%;
  float: left;
  padding: 0 30px;
}
.grid-item:nth-child(3n+1){
  clear: both;
}

.taman {
  margin-bottom: 40px;
}

.taman figure{margin: 0}
.taman figure img{
    padding: 0;
    margin: 0px;
}
.map{
}
.map figure {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.map img{
  max-width: 100%;
  position: relative;
}
.map:before, .map:after{
  content:"";
  width:100%;
  height:200px;
  position:absolute;
  left:0;
  z-index: 1;
}
.map:after{
  bottom:0;
  background-image: linear-gradient (to bottom, black, rgba(255,255,255,0) );
}

.map:before{
  top:0;
  background-image: linear-gradient (to top, black, rgba(255,255,255,0) );
}

.map form{
  max-width: 550px;
  margin: 70px auto 0;
  position: relative;
}

.map form button{
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  padding: 20px 25px;
  border-radius: 100px;
  border: none;
  background: #22b8cf;
}
.map i{
  padding: 10px;
}
.map a{
  text-decoration: none;
  color: #fff;
}

.map-2 i{
  padding: 10px;
}
.map-2 a{
  text-decoration: none;
  color: #fff;
}
.map-2 form{
  max-width: 550px;
  margin: 70px auto 0;
  position: relative;
}
.map-2 form button{
  display: grid;
  position: absolute;
  bottom: 20px;
  right: 1px;
  font-size: 15px;
  margin-left: 30px;
  padding: 20px 25px;
  border-radius: 100px;
  border: none;
  background: #329af0;
}

.footer{
  font-size: 15px;
  margin:40px;
  padding: 20px 0px 0px 0px;
  text-align: center;
}




@media screen and (max-width:990px){
  .grid-item{
    width: 50%;
  }
  .grid-item:nth-child(3n+1){clear: none}
  .grid-item:nth-child(2n+1){clear: both}

  .footer{
    text-align: center;
  }
}

@media screen and (max-width:480px){
  .grid-item{width: 100%}
}
